.Home {
  height: 350vh;
}

.HomeBackground {
  background-size: cover;
  background-image: url('../../assets/HighSchool.png');
  height: 85vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.HomeBackground img {
  height: 2.4rem;
  width: 2.4rem;
  position: relative;
  bottom: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.HomeBackground img:hover {
  scale: 1.5;
}

.HomeHeader {
  position: relative;
  top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-size: 4.8rem;
}

.HomeHeader::after {
  content: '';
  display: block;
  width: 30rem;
  border-bottom: 0.5rem solid #399f2e;
  border-radius: 1rem;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.About {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AboutContainer {
  position: relative;
  top: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 64rem;
  background-color: #2b2b2b;
  border-radius: 2.5rem;
  border: 1px solid black;
}

.AboutImgParent {
  height: 100%;
}

.AboutImg {
  height: 100%;
  border-radius: 2.4rem 0 0 2.4rem;
}

.AboutText {
  margin: 2.5rem;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
  width: 50%;
}

.Profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 10rem;
  margin-bottom: 0;
}

.ProfilesContainer {
  position: relative;
  top: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
