.Contact {
  background-image: url('../../assets/Contact.png');
  background-size: cover;
  height: 90vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 0;
}

.Contact h1 {
  color: #399f2e;
  font-size: 2.4rem;
}

.Contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  position: relative;
  top: -3rem;
}

.Contact form input {
  width: 20rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #2b2b2b;
  color: #d3d3d3;
  font-size: 1rem;
}

.Contact form input[type='submit'] {
  width: 21rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #2b2b2b;
  color: #d3d3d3;
  font-size: 1rem;
  cursor: pointer;
}

.Contact form textarea {
  font-size: 1rem;
  width: 20rem;
  height: 10rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #2b2b2b;
  color: #d3d3d3;
}

@media only screen and (min-width: 800px) {
  .Contact form input {
    width: 50rem;
  }

  .Contact form textarea {
    width: 50rem;
  }
  .Contact form input[type='submit'] {
    width: 51rem;
    height: 3rem;
  }
}
