.Announcement {
  background-color: #222;
  height: 10rem;
  width: 50rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 2rem;
}

@media only screen and (max-width: 800px) {
  .Announcement {
    width: 45vh;
    height: 20vh;
  }
  .AnnouncementImg {
    height: 20vh !important;
    width: 22.5vh !important;
    object-fit: cover;
  }

  .TextContent h1 {
    font-size: 1.6vh;
  }

  .TextContent span {
    font-size: 0.5rem !important;
  }
}

.Announcement:hover {
  scale: 1.2;
}

.AnnouncementWrapper {
  display: flex;
}

.AnnouncementImg {
  height: 10rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 1.9rem 0 0 1.9rem;
}

.TextContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  color: #d3d3d3;
  position: relative;
}

.TextContent span {
  position: absolute;
  top: 8.5rem;
  right: 3rem;
}

.TextContent h1 {
  text-align: center;
  inline-size: 25rem;
  overflow-wrap: break-word;
}

.ImgWrapper {
  width: 50%;
}
