nav {
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #2b2b2b;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  height: 100%;
}

nav li {
  list-style: none;
}

.Logo {
  height: 3.6rem;
  position: relative;
  left: 3rem;
  cursor: pointer;
}

.NavLink {
  position: relative;
  right: 3rem;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}
