.DeleteAnnounecement {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 20vh;
  overflow: auto;
}

.GetAllAnnouncements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Announcement {
  display: flex;
  align-items: center;
  width: 50rem;
  margin-bottom: 1rem;
}

.Announcement img {
  height: 10rem;
  width: 20rem;
}

.Announcement p {
  font-size: 1.6rem;
  text-indent: 1rem;
  word-wrap: break-word;
  max-width: 50%;
  text-align: center;
}
